@{
    ViewBag.Title = "Hashtag Search";
}
@model TwitterClientLibrary.SearchResponse

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#hashtag").on("keyup", function (e) {
                var hashtag = $(this).val();

                if (hashtag.substring(0, 1) == "#")
                {
                    $(this).val(hashtag.substring(1));
                }

                if (e.keyCode == 13) {
                    $("#search-button").click();
                }
            });

            DoneLoading();
        });

        function StartLoading() {
            // Do nothing.
        }

        function DoneLoading() {
            $("input:submit").css("visibility", "visible");

            $("input:submit").click(function () {
                $(this).css("visibility", "hidden");
            })
        }
    </script>
}

@using (Ajax.BeginForm("Index", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "tweets",
    OnBegin = "StartLoading",
    OnComplete = "DoneLoading"
}))
{
    <div style="margin-top: 20px;">
        <p>Enter your hashtag below.</p>
    </div>

    <div>
        <span class="input-wrapper" style="height: 28px;">#<input id="hashtag" name="hashtag" type="text" placeholder="" class="borderless" style="height: 26px;" value="@ViewBag.Hashtag"/></span>
        <span class="loading" style="display: inline-block;">
            <input id="search-button" type="submit" value="Search" style="height: 28px;" />
        </span>
    </div>

    <div id="tweets" style="margin-top: 20px;">
        @Html.Partial("TweetList", Model)
    </div>

}